<div class="container">
  <div class="container-main">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum eligendi
    soluta consequuntur quod excepturi.
  </div>
  <button (click)="openBottomSheet()" mat-icon-button class="container-item">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button class="container-item">
    <mat-icon>search</mat-icon>
  </button>
  <button mat-icon-button class="container-item">
    <mat-icon>close</mat-icon>
  </button>
  <button mat-icon-button class="container-item">
    <mat-icon>done</mat-icon>
  </button>
  <button mat-icon-button class="container-item">
    <mat-icon>star</mat-icon>
  </button>
  <button mat-icon-button class="container-item">
    <mat-icon>delete</mat-icon>
  </button>
  <button mat-icon-button class="container-item">
    <mat-icon>cancel</mat-icon>
  </button>
  <button mat-icon-button class="container-item">
    <mat-icon>apps</mat-icon>
  </button>
  <button mat-icon-button class="container-item">
    <mat-icon>sort</mat-icon>
  </button>
  <button mat-icon-button class="container-item">
    <mat-icon>fullscreen</mat-icon>
  </button>
  <button mat-icon-button class="container-item">
    <mat-icon>undo</mat-icon>
  </button>
  <button mat-icon-button class="container-item">
    <mat-icon>home</mat-icon>
  </button>
</div>
